<h2>Lil bit about me</h2>
<p>Hi, I am Akhil. From my childhood I was fascinated by computers. I love tinkering with gadgets and coding. I play football and occationally badminton. I play a little bit of guitar when I am bored and alone. And I daydream when I am stuck somewhere without my macbook. I enjoy watching GoT, Walking Dead & Silicon Valley.  </p>

<h2>Stuffs I am good at</h2>
<ul>
  <li>Microcontrollers</li>
  <li>FPGA</li>
  <li>Python</li>
</ul>

<p>I am also familier with Linux board porting, FreeRTOS, USB Stack, FATFS etc. I own an Arduino, Stellaris Launchpad, LPC Xpresso, Beaglebone and a very handy tool called Buspirate for hardware hacking. </p>

<h2>Stuffs I am familier with</h2>
<ul>
 <li>Linux, Bash, Board Porting</li>
 <li><li>
 <li>Guitar</li>
</ul>

<hr />
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/akhilpo">github/akhilpo</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="http://twitter.com/akhilpo">@akhilpo</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-facebook fa-lg main-list-item-icon"></span>
    <a href="http://facebook.com/akhilpo">facebook/akhilpo</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="http://in.linkedin.com/in/akhilpo">linkedin/akhilpo</a>
  </li>
</ul>

